{
  "presets": [
    [
    "@babel/env",
    {
      "useBuiltIns" : "usage",
      "corejs" : "3.21",
      "targets" : {
        "browsers" : "> 0.2%, last 2 versions, not dead"
      },
      "modules": false,
      "debug": false
    }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
